.ee-container {
  width: 538px;
  height: 335px;
  border-radius: 15px;
  background-color: #efefefd9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ee-text {
  width: 201px;
  height: 34px;
  font-family: "Ubuntu";
  font-size: 30px;
  font-weight: 700;
}
.ee-content {
  width: 460px;
  height: 198px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
