.e-container {
  width: 538px;
  height: 335px;
  border-radius: 15px;
  background-color: #efefefd9;
  display: flex;
  justify-content: center;
  
}

.exp-content{
   margin: 20px;
    
}
.e-header {
  width: 201px;
  height: 34px;
  font-family: "Ubuntu";
  font-size: 30px;
  font-weight: 700;
  color: #000000;
 
}

.content-container{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: auto;
    height: auto;
}
